@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slideshow-container h1{
    margin-left:300px;
    background-color:rgb(226, 119, 155);
    width: 400px;
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 50px;
    font-weight: bold;
}

.mySlides {
  display: none;
}

.text {
  color:gold;
  font-size: 35px;
  font-weight: bold;
  font-family: sans-serif;
  padding: 10px 20px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* Next section */

.serviceBox{
    color: #f67d4a;
    background: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 55px 20px 60px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.serviceBox:before,
.serviceBox:after{
    content: "";
    background: #f67d4a;
    height: 45px;
    width: 100%;
    box-shadow: 0 -3px 8px rgba(0,0,0,0.3) inset;
    position: absolute;
    top: 0;
    left: 0;
}
.serviceBox:after{
    box-shadow: 0 3px 8px rgba(0,0,0,0.3) inset;
    top: auto;
    bottom: 0;
}
.serviceBox .service-icon{
    font-size: 40px;
    margin: 0 0 10px;
} 
.serviceBox .title{
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 10px;
}
.serviceBox .description{
    color: #777;
    font-size: 14px;
    line-height: 25px;
    margin: 0;
}
.serviceBox.pink{ color: #EC6D9E; }
.serviceBox.pink:before,
.serviceBox.pink:after{
    background-color: #EC6D9E;
}
.serviceBox.purple{ color: #8672B9; }
.serviceBox.purple:before,
.serviceBox.purple:after{
    background-color: #8672B9;
}
.serviceBox.blue{ color: #5196EC; }
.serviceBox.blue:before,
.serviceBox.blue:after{
    background-color: #5196EC;
}
@media only screen and (max-width: 990px){
    .serviceBox{ margin: 0 0 30px; }
}


/* next section */


.about-us{
  height: 80vh;
  width: 100%;
  padding: 90px 0;
  background: rgb(221, 221, 221);
}
.pic{
  height: 300px;
  width:  302px;
}
.about{
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text1{
  width: 540px;
}
.text1 h2{
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;

}
.text1 h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
span{
  color: #4070f4;
}
.text p{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}
.data{
  margin-top: 30px;
}
.hire{
  font-size: 18px;
  background: #4070f4;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.5s;
}
.hire:hover{
  background: #000;
  border: 1px solid #4070f4;
}


/* next section  */


.contact3 h1,
.contact3 h2,
.contact3 h3,
.contact3 h4,
.contact3 h5,
.contact3 h6 {
  color: #3e4555;
}

.contact3 .font-weight-medium {
  font-weight: 500;
}

.card-shadow img{
    height: 300px;
    width: 500px;
}

.contact3 .card-shadow {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.contact3 .btn-danger-gradiant {
  background: #ff4d7e;
  background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
  background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
}

.contact3 .btn-danger-gradiant:hover {
  background: #ff6a5b;
  background: -webkit-linear-gradient(legacy-direction(to right), #ff6a5b 0%, #ff4d7e 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff6a5b), to(#ff4d7e));
  background: -webkit-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
  background: -o-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
  background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%);
}



/* next section */




div.container-footer.w-container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    padding-bottom: 40px;
    padding-top: 70px;
  }
   
  div.container-footer.w-container:after {
    clear: both;
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
   
  div.container-footer.w-container:before {
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
   
  div.w-row {
    box-sizing: border-box;
    margin-left: -10px;
    margin-right: -10px;
  }
   
  div.w-row:after {
    clear: both;
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
   
  div.w-row:before {
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
   
  div.footer-column.w-clearfix.w-col.w-col-4 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 33.3333%;
  }
   
  div.footer-column.w-clearfix.w-col.w-col-4:after {
    clear: both;
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
   
  div.footer-column.w-clearfix.w-col.w-col-4:before {
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
   
  img.failory-logo-image {
    border-width: 0;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    max-width: 100%;
    vertical-align: middle;
  }
   
  h3.footer-failory-name {
    box-sizing: border-box;
    color: black;
    display: block;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.1em;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 24px;
  }
   
  p.footer-description-failory {
    box-sizing: border-box;
    color: rgba(161, 15, 15, 0.8);
    display: block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 1.5em;
    margin-bottom: 16px;
    margin-top: 15px;
  }
   
  br {
    box-sizing: border-box;
  }
   
  div.footer-column.w-col.w-col-8 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 66.6667%;
  }
   
  div.w-col.w-col-8 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 66.6667%;
  }
   
  div.w-col.w-col-7.w-col-small-6.w-col-tiny-7 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 58.3333%;
  }
   
  h3.footer-titles {
    box-sizing: border-box;
    color: black;
    display: block;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 24px;
  }
   
  p.footer-links {
    box-sizing: border-box;
    color: rgba(161, 15, 15, 0.8);
    display: block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 1.8em;
    margin-bottom: 16px;
    margin-top: 2px;
  }
   
  a {
    background-color: transparent;
    box-sizing: border-box;
    color: black;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2em;
    text-decoration: none;
  }
   
  a:active {
    outline: 0;
  }
   
  a:hover {
    outline: 0;
  }
   
  span.footer-link {
    box-sizing: border-box;
    color: rgba(161, 15, 15, 0.8);
    font-weight: 300;
  }
   
  span.footer-link:hover {
    color: black;
    font-weight: 400;
  }
   
  span {
    box-sizing: border-box;
  }
   
  strong {
    box-sizing: border-box;
    font-weight: 700;
  }
   
  div.w-col.w-col-5.w-col-small-6.w-col-tiny-5 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 41.6667%;
  }
   
  div.column-center-mobile.w-col.w-col-4 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 33.3333%;
  }
   
  a.footer-social-network-icons.w-inline-block {
    background-color: transparent;
    box-sizing: border-box;
    color: black;
    display: inline-block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2em;
    margin-right: 8px;
    margin-top: 10px;
    max-width: 100%;
    opacity: 0.8;
    text-decoration: none;
  }
   
  a.footer-social-network-icons.w-inline-block:active {
    outline: 0;
  }
   
  a.footer-social-network-icons.w-inline-block:hover {
    opacity: 1;
    outline: 0;
  }
   
  img {
    border-width: 0;
    box-sizing: border-box;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
  }
   
  p.footer-description {
    box-sizing: border-box;
    color: rgba(161, 15, 15, 0.8);
    display: block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 1.5em;
    margin-bottom: 16px;
    margin-top: 15px;
  }
   
  strong.link-email-footer {
    box-sizing: border-box;
    font-weight: 700;
  }


  .container-footer {
    background-color: wheat;
    padding: 90px;
  }
   

  /* next section */

  .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}